$gray: #0f0f0f;
$graylight: #242424;
$black: #000;
$white: #c0c0c0;
$whiteLight: #fff;
$green: #2d7c4e;
$greenStrong: #00ff6a;
$radius: 10px;
$almostTrans: rgba(41, 41, 41, 0.4);
$circleRadius: 30px ;
$fontBold: bold;

%hovercolor1{
    color: $whiteLight;
    opacity: 1;
}

%hoversize{
    scale: 1.1;
}

%hoverBackground{
    background-color: $graylight;
}

%hoverbackGround2{
    background-color: #393939;
}

//----------Funciones
 /* @mixin wrap-if-narrow($width, $max-width) {
    @if $width < $max-width {
      flex-wrap: wrap;
      flex-direction: column;
    }
  }*/

//---------mixins media query
@mixin hiidenLastElement{
    @media (max-width: 1515px) {
        div:nth-child(5){
            display: none;
        }
    }
    @media (max-width:1326px){
        div:nth-child(4){
            display: none;
        }
    }
    @media (max-width:1139px){
        div:nth-child(3){
            display: none;
        }
    }
    @media (max-width:1007px){
        div:nth-child(3){
            display: flex;
        }
    }
        
}

@mixin flex--collumn{
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}

@mixin overflow-x{
    @media (max-width: 845px) {
        overflow-x: scroll;
    }
}

@mixin wrap-if-narrow($max-width) {
    @media (max-width: $max-width) {
      flex-direction: column;
    }
  }



//---------Mixins


@mixin playlistHover{
    section > i:first-of-type{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        flex-wrap: wrap;
        margin-left: -47px;
        margin-right: 23px;
        opacity: .9 !important;
        img{
            width: 24px;
            height: 24px;
            
        }
    }
    div:first-of-type{
        margin-left: 0px;
        div{
            margin-left: 0px;
        }
    }
    section:hover{
        i:first-of-type{
            display: flex;
        }
        &:hover{
            background-color:#272626;
            opacity: 1;
            i:hover{
                opacity: 1 !important;
                scale: 1.01;
                transition: none !important;
            }
        }
    }
}

@mixin scrollBar{
    /*Estilos para la escroll bar*/
    -webkit-scrollbar{
        /* Firefox scrollbar */
        scrollbar-width: thin; /* Opción: auto, thin */
        scrollbar-color: #888 transparent; /* thumb color y track color */
        opacity: 0;
        display: none;
        z-index: 1;
        transition: all 0.25s;
        position: relative;
    }
    /* Estilizando la barra de desplazamiento (para navegadores WebKit) */
    &::-webkit-scrollbar {
        width: 5px; /* Ancho de la barra de desplazamiento */
        opacity: 0;
        display: none;
        transition: all 0.25s;
        z-index: 1;
        position: relative;
    }

    /* Estilo del "track" de la barra (fondo de la barra de scroll) */
    &::-webkit-scrollbar-track {
        background: transparent; /* Color del track */
        border-radius: 6px;   /* Bordes redondeados */
        opacity: 0;
        display: none;
        transition: all 0.25s;
        z-index: 1;
        position: relative;
    }


    /* Estilo de la "thumb" (la parte que se mueve) */
    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Color de la thumb */
        border-radius: 6px;     /* Bordes redondeados */
        border: 3px solid transparent; /* Espacio alrededor de la thumb */
        opacity: 0;
        display: none;
        transition: all 0.25s;
        z-index: 1;
        position: relative;
    }

    /* Estilo de la thumb al pasar el ratón por encima */
    &::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Cambia el color al pasar el ratón */
        opacity: .9;
        display: none;
        transition: all 0.25s;
        z-index: 1;
    }
    //---------------------------------
    &:hover{
        -webkit-scrollbar{
            /* Firefox scrollbar */
            scrollbar-width: thin; /* Opción: auto, thin */
            scrollbar-color: #888 transparent; /* thumb color y track color */
            opacity: .9;
            display: block;
            z-index: 0;
            transition: all 0.25s;
            z-index: 1;
            &:hover{
                scrollbar-color: #b1b1b1 transparent;
                opacity: .9;
                transition: all 0.25s;
                z-index: 1;
            }
        }
        /* Estilizando la barra de desplazamiento (para navegadores WebKit) */
        &::-webkit-scrollbar {
            width: 7px; /* Ancho de la barra de desplazamiento */
            opacity: .9;
            display: block;
            transition: all 0.25s;
            z-index: 1;
            &:hover{
                scrollbar-color: #b1b1b1 transparent;
                opacity: .9;
                display: block;
                transition: all 0.25s;
                z-index: 1;
            }
        }

        /* Estilo del "track" de la barra (fondo de la barra de scroll) */
        &::-webkit-scrollbar-track {
            background: transparent; /* Color del track */
            border-radius: 6px;   /* Bordes redondeados */
            opacity: .9;
            display: block;
            transition: all 0.25s;
            z-index: 1;
            &:hover{
                display: block;
                opacity: .9;
                transition: all 0.25s;
                z-index: 1;
            }
        }
        /* Estilo de la "thumb" (la parte que se mueve) */
    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Color de la thumb */
        border-radius: 6px;     /* Bordes redondeados */
        border: 3px solid transparent; /* Espacio alrededor de la thumb */
        opacity: .9;
        display: block;
        transition: all 0.25s;
        z-index: 1;
    }

    /* Estilo de la thumb al pasar el ratón por encima */
    &::-webkit-scrollbar-thumb:hover {
        background-color: #acacac; /* Cambia el color al pasar el ratón */
        display: block;
        opacity: .9;
        transition: all 0.25s;
        z-index: 1;
    }
    }
}

@mixin inputRange {
    /* Estilo para el rango (la barra) */

    
   &{
       -webkit-appearance: none; /* Quitar estilo predeterminado en WebKit */
       appearance: none; /* Quitar estilo predeterminado en navegadores compatibles */
       height: 5px; /* Altura del control */
       border-radius: 10px; /* Bordes redondeados */
       outline: none; /* Quitar el borde por defecto */
       background-color: $white;
   }

   //Mostrar thumb al hacer hover
   &:hover{
       &::-webkit-slider-thumb{
           display:block;
       }
   }

   /* Pseudo-clase para el estilo del thumb (círculo que se mueve) en navegadores WebKit (Chrome, Safari, etc.) */
   &::-webkit-slider-thumb {
       -webkit-appearance: none; /* Quitar estilo predeterminado */
       appearance: none;
       width: 15px; /* Tamaño del thumb */
       height: 15px;
       background: $whiteLight; /* Color del thumb */
       border-radius: 50%; /* Bordes redondeados para que sea un círculo */
       cursor: pointer; /* Cambiar el cursor cuando se pasa por encima */
       display: none;
       
   }

   /* Pseudo-clase para el thumb en Firefox */
   &::-moz-range-thumb {
       width: 20px;
       height: 20px;
       background: $whiteLight;
       border-radius: 50%;
       cursor: pointer;
   }

   /* Estilo para el track (barra de progreso) en Firefox */
   &::-moz-range-track {
       background: linear-gradient(to right, #4caf50, #f44336);
       height: 10px;
       border-radius: 10px;
   }

   /* Estilo para el thumb en Edge y IE */
   &::-ms-thumb {
       width: 20px;
       height: 20px;
       background: #000;
       border-radius: 50%;
       cursor: pointer;
   }

   /* Estilo para la barra (track) en Edge y IE */
   &::-ms-track {
       background: linear-gradient(to right, #4caf50, #f44336);
       height: 10px;
       border-radius: 10px;
       border: none;
       color: transparent; /* Quitar estilos predeterminados */
   }
}

@mixin hoverI{
    i{
        &:hover{
            img:hover{
                opacity: 1;
                border-radius: 50%;
                @extend %hoverBackground;
            }
        }
    }

}

@mixin hoversVarios1{
    a {
        color: $whiteLight;
        font-weight: $fontBold;
    }
    img{
        scale: 1.1;
    }
}

@mixin artist-album($shape){
    display: flex;
    flex-direction: row;
    align-items: center;
    text-overflow: ellipsis;
    
    img{
        width: 55px;
        @if $shape == circle{  
            border-radius: 50%;
        } @else{
            border-radius: $radius;
        }
        
    }
    h4, p{
        padding-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
    }
    p {
        margin: 5px 0 0 0;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


@mixin discografy{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 5px;
    border-radius: $radius;
    box-sizing: border-box;
    figure{
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 170px;
        img{
            position: relative;
            width: 170px;
            height: 170px;
            border-radius: $radius;
            z-index: 1;
            margin: 0 auto;
        }
        i {
            height: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 20px;
                height: 20px;
                padding: 10px;
                background-color: $greenStrong;
                position: relative;
                left: 60px;
                bottom: 15px;
                z-index: 2;
                border-radius: $circleRadius;
                opacity: 0;
                box-shadow: 0px 6px 15px 0 rgba(0, 0, 0, 0.7);
                
            }
        }
        figcaption{
            margin-top: 10px;
            overflow: hidden;
            color: $whiteLight;
            max-width: 170px;
            max-height: 33px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    p{
        width: 170px;
        margin-top: 5px;
        max-height: 33px;
        font-size: .8rem;
        padding: 5px 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &:hover{
        background-color: #4f4c4c6e;
        i {
            opacity: 1 !important;
            img {
                transition: 0.2s;
                bottom: 30px;
                opacity: 1 ;
                &:hover{
                    scale: 1.1;
                }
            }
        }
    }
   
}

@mixin titleButtons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        a:first-of-type{
            color: $whiteLight;
            text-decoration: none;
            font-size: 22px;
            & h4{
                margin-bottom: 15px;
            }
        }
        a:last-of-type{
            color: $white;
            opacity: 0.8;
            text-decoration: none;
            font-size: 14px;
        }
    
}

@mixin footerLastLinks{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        margin: 0 10px;
    }
    a {
        color: #b3b3b3;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        text-decoration: none;
        color: $whiteLight;
    }
}

@mixin promotion{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 240px;
    gap: 20px;
    .promotion{
        width: 90%;
        justify-content: space-between;
        border-radius: $radius;
        @include artist-album(square);
        cursor: pointer;
        padding: 10px;
        img{
            border-radius: 2px;
        }
        div{
            width: 70%;
        }
        h4{
            margin: 0;
            color: $whiteLight;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        p{
            font-size: .9rem;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .promotion__link{
            width: 20px;
            position: relative;
            bottom: 13px;
            right: 10px;
            opacity: 0;
        }
        &:hover{
            background-color: #4f4c4c6e;
            .promotion__link{
                opacity: .7;
            }
        }
}
}



