body{
    i,a{
        opacity: .7 !important;
        &:hover{
            opacity: 1 !important;
            color: $whiteLight !important;
            transition: .5s;
        }
    }
    img{
        z-index: 0 !important;
        i{
            img{
                z-index: 1 !important;
            }
        }
    }
    button:hover{
        scale: 1.05;
        transition: .5s;
        color: $whiteLight !important;
    }
    
}

header{
    .home{
        i{
            &:hover{
            @extend %hovercolor1;
            @include hoversVarios1; 
            }
        }
    }
    
    .nav{
        & a {
            display: inline-block;
            color: $white;
            font-style: normal;
            text-decoration: none;
        }
        & img {
            width: 24px;
            margin-right: 22px;
            vertical-align: middle;
            margin-bottom: 0.4em;
        }
    
        .menu{
            display: flex;
            justify-content: space-between;
            & div{
                margin-right: -25px;
                @include hoverI;
            }
            i{
                &:hover{
                    @extend %hovercolor1;
                    @include hoversVarios1; 
                }
            
            }

        }
        .buttons{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content:first baseline;
            gap: 10px;
            .buttons__playlist, .buttons__artist, .buttons__albums{
                background-color: $graylight;
                color: $whiteLight;
                padding: 10px;
                border-radius: $circleRadius;
                border: none;
            }
            button:hover{
                @extend %hoverbackGround2;
            }
        }
        .options{
            display: flex;
            justify-content: space-between;
            @include hoverI;
            & img{
                vertical-align: -7px;
                scale: 1.1;
            }
            .options__list img{
                width:25px ;
                margin: 0 0 0 10px;
            }
        }
    }
    
    .playlist{
        overflow-y: auto;
        height: 530px;
        @include scrollBar;
        @include playlistHover;

        & a {
            display: inline-block;
            color: $white;
            font-style: normal;
            text-decoration: none;
        }
        & img {
            width: 24px;
            margin-right: 22px;
            vertical-align: middle;
            margin-bottom: 0.4em;
        }
        & section, & h4, & img {
            display: flex;
            margin: 1.5px 10px 0 0;
            border-radius: $radius;
        }
        section{
            padding: 10px 0 10px 10px;
        }
        
        .favsongs{
            display: flex;
            align-items: center;

           .favsongs__heart{
            display: flex;
            flex-wrap: wrap;
            width: 20px;
            height: 30px;
            padding: 15px 18px;
            background: linear-gradient(135deg, rgb(61 0 227), rgb(150 150 189) 70%, rgb(187, 228, 217) 95%);        border-radius: $radius;
            align-items: center;
            justify-content: center;
           }
           & p, & img {
            display: inline-block;
           }
           & p {
            margin: 0;
            padding: 0;
            font-size: .8rem;
           }
            & div{
                .favsongs__img-txt{
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                    padding-top: 10px;
                    & img{
                        margin: 0 0 2px 0;
                        width: 20px;
                    }
                }
            }
        }
        .songsave{
            display: flex;
            align-items: center;
            .songsave__bookmark{
                display: flex;
                flex-wrap: wrap;
                width: 20px;
                height: 30px;
                padding: 15px 18px;
                background-color: #2d7c4e;
                border-radius: $radius;
                align-items: center;
                justify-content: center;
            }
            & p, & img {
                display: inline-block;
            }
            & p{
                margin: 0;
                padding: 0;
                font-size: .8rem;
            }
            & div{
                .songsave__img-txt{
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    align-items: center;
                    padding-top: 10px;
                    & img{
                        margin: 0 0 2px 0;
                        width: 20px;
                    }
                }
            }
        }
        .artist{
            @include artist-album(circle);
            
        }
        .album{
            @include artist-album(square);
        }
    }
}



main{
    z-index: 0;
    @include scrollBar;
    border-radius: $radius;
    .navbar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .navbar__arrows{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            & img {
                padding: 5px;
                background-color: $almostTrans;
                border-radius: $circleRadius;
            }
        }
        .navbar__buttons{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: bold;
            .button__premium{
                border-radius: $circleRadius;
                height: 30px;
                border: none;
                cursor: pointer;
                & p {
                    display: inline;
                    margin: 0;
                    padding: 0;
                    font-weight: bold;
                }
                &:hover{
                    color: $black !important;
                }
            }
            .button__install{
                height: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                border-radius: $circleRadius;
                height: 30px;
                border: none;
                color: $white;
                background-color: $almostTrans;
                font-weight: bold;
                cursor: pointer;
            }
            .button__notification{
                cursor: pointer;
                & img{
                    width: 20px;
                    height: 20px;
                    padding: 9px;
                    background-color: $almostTrans;
                    border-radius: $circleRadius;
                }
                &:hover{
                    scale: 1.1;
                }
            }
            .button__perfil{
                border-radius: 60%;
                border: none;
                width: 30px;
                height: 30px;
                padding: 6px;
                background-color: $almostTrans;
                cursor: pointer;
                &:hover{
                    scale: 1.1;
                }
            }
        }
    }
    .band{
        color: #fff;
        .band__checked{
            display: flex;
            flex-direction: row;
            gap: 7px;
            align-items: center;
            & div{
                background-color: rgb(6, 126, 196);
                padding: 0;
                transform: rotate(45deg);
                scale: .7;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & img{
                scale: 1;
                padding: 2px;
                background-color: rgb(6, 126, 196);
                margin: 0;
                transform: rotate(-45deg);
                border-radius: 5px;
            }
            & p{
                font-size: .9rem;
                font-style: normal;
                font-weight: bold;
            }
        }
        .band__name{
            font-size: 80px;
            margin: 0;
        }
    }
    .options{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;
        .options__play{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $greenStrong;
            padding: 12px;
            border-radius: 50%;
            opacity: .8;
            cursor: pointer;
            &:hover{
                scale: 1.1;
            }
        }
        .options__follow{
            border-radius: $circleRadius;
            background-color: transparent;
            padding: 5px 11px 5px 11px;
            font-size: 13px;
            color: #fff;
            border: solid #8f8f8f 1px;
            font-weight: bold;
            opacity: .8;
            cursor: pointer;
        }
        .option__more{
            scale: 1.3;
            opacity: .8;
            cursor: pointer;
        }
    }
    .songs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .songs__popular{
            color: #fff;
            font-size: 1.2rem;
            align-self: flex-start;
        }
        .song__1{
            display: flex;
            width: 95%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0px;
            margin: 0;
            position: relative;
            padding:  10px  20px;
            border-radius: $radius;
            &:nth-of-type(3){
                .song__name{
                    .song__title{
                        color: $greenStrong;
                    }
                }
            }

           .song__name{
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            gap: 20px;
            width: 500px;
            .name__order{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                p,img{
                    margin: 0;
                    padding: 0;
                }
                p{
                    position: absolute;
                }
                .song-no{
                    opacity: .8;
                }
                .song-play{
                    opacity: 0;
                    width: 15px;
                }
            }
            .song__picture{
                width: 50px;
                border-radius: $radius;
                margin: 0;
                padding: 0;
            }
            .song__title{
                color: $whiteLight;
                cursor: pointer;
            }
            

           }

           .song__heared{
            display: flex;
            align-self: flex-end;
            margin-right: 70px;
            p{
                text-align: right;
                opacity: .8;
            }
           }
           .song__option{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            .options{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0;
                margin-right: 20px;
                img{
                    margin: 0;
                    padding: 0;
                }
                .option__add{
                    display: none;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
                .option__added{
                    margin: 0;
                    padding: 0;
                    display: none;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: $greenStrong;
                    border-radius: 50%;
                    padding: 3px;
                    opacity: 0;
                    cursor: pointer;
                    img{
                        width: 17px;
                    }
                }
                
            }
            .option__more{
               opacity: 0;
               cursor: pointer;
            }
            }
            &:hover{
                background-color: #4f4c4c6e;
                opacity: 0.9;
                .song__heared p{
                    color: $whiteLight;
                    opacity: 1;
                }
                .option__more{
                    opacity: 1;
                    &:hover{
                        scale: 1.1;
                    }
                 }
                .options{
                    .option__add{
                        align-items: center;
                        opacity: .8;
                        display: flex;
                    }
                }
                .name__order{
                    .song-no{
                        opacity: 0;
                    }
                    i .song-play{
                        opacity: 1;
                    }
                }
                .song__title{
                    text-decoration: underline;
                }
            }
        }
    }
    .see{
        margin-top: 0;
        display: flex;
        flex-direction: row;
        position: relative;
        margin-bottom: 50px;
        .see__more{
            font-weight: bold;
            color: $white;
            background-color: transparent;
            border: none;
            position: absolute;
            padding: 10px;
        }
        .see__less{
            font-weight: bold;
            color: $white;
            background-color: transparent;
            border: none;
            display: none;
            padding: 10px;
        }
    }
    .discografy{
        margin: 20px auto 20px auto ;
        .discografy__buttons{
            @include titleButtons;
        }
        .discografy__options{
           display: flex;
           flex-direction: row;
           gap: 20px;
           .discografy__button--popular{
            color: $whiteLight;
            background-color: transparent;
            border-radius: $circleRadius;
            padding: 5px 15px;
            border: none;
           }
           .discografy__button--albums{
            color: $whiteLight;
            background-color: transparent;
            border-radius: $circleRadius;
            border: none;
           }
        }
        .discografy__popular{
            display: flex;
            overflow: hidden;
            justify-content: center;
            gap: 0px;
            .popular{
                @include discografy;
            }
        }
        .discografy__albums{
            display: flex;
            overflow: hidden;
            justify-content: center;
            gap: 0px;
            .albums{
                @include discografy;
            }
            
        }
    }
    .withPxndx{
        margin: 30px auto 30px auto;
        .withPxndx__buttons{
       @include titleButtons;
        }
        .withPxndx__collabs{
            display: flex;
            overflow: hidden;
            justify-content: center;
            gap: 7px;
        .collab{
            @include discografy;
            figure{
                width: 180px;
            }
            p{
                width: 180px;
            }
        }
        }
       
    }

    .fansLikes{
        margin: 30px auto 30px auto;
        .fansLikes__buttons{
            @include titleButtons;
        }
        .fansLikes__artist{
            display: flex;
            overflow: hidden;
            justify-content: center;
            gap: 7px;
            .artist{
                @include discografy;
                img:first-of-type{
                    border-radius: 50%;
                }
            }
        }
    }
    .displayon{
        margin: 30px auto 30px auto;
        .displayon__buttons{
            @include titleButtons;
        }
        .displayon__others{
            display: flex;
            overflow: hidden;
            justify-content: center;
            gap: 7px;
            .other{
                @include discografy;
                .other_caption{
                    text-transform:capitalize;
                  }
            }
            
        }
    }

    .playlist{
        margin: 30px auto 30px auto;
        .playlist__buttons{
            @include titleButtons;
            a:last-child{
                display: none;
            }
        }
        .playlist__song{
            display: flex;
            overflow: hidden;
            justify-content: flex-start;
            gap: 7px;
            .song{
                @include discografy;
            }
            
        }
    }
    .findOn{
        margin: 30px auto 30px auto;
        .findOn__buttons{
            @include titleButtons;
            a:last-child{
                display: none;
            }
        }
        .findOn__albums{
            display: flex;
            overflow: hidden;
            justify-content: center;
            gap: 7px;
            .album{
                @include discografy;
                .other_caption{
                    text-transform:capitalize;
                  }
            }
            
        }
    }
    //-----------------Aside
    .rigthSide{
        .amentes__Song{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            height: 57px;
            gap: 225px;
            margin: 0px;
            width: 380px;
            position: relative;
           .actualSong__buttons{
                @include titleButtons;
                &:first-child{
                    .button__title{
                        font-size: 1rem;
                        font-weight: bold;
                }
                }
                &:last-child{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    img {
                        scale: .8;
                        cursor: pointer;
                    }
                }
            
           }
        }
        .content__scrollable{
            width: 382px;
            box-sizing: border-box;
            height: 720px;
            overflow: hidden;
            overflow-y: auto;
            @include scrollBar;
        /*Secciones de contenido*/
        .amentesSunt{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            
            .amentes__img{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 0;
                .img__figure{
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin: 0;
                    width: 375px;
                    align-items: flex-start;
                    .img__portade{
                        width: 375px;
                        border-radius: $radius;
                    }
                    .img__title{
                        color: $whiteLight;
                        font-weight: bolder;
                        font-size: 1.4rem;
                        margin-bottom: 0;
                    }
                    .img__description{
                        margin: 0;
                    }
                }
                
                i{
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    background-color: #00ff6a;
                    border-radius: 50%;
                    padding: 3px;
                    position: relative;
                    bottom: 35px;
                    scale: 0.7;
                    left: 5px;
                }
               }
        }
        .about__artist{
            width: 375px;
            margin: 20px auto;
            background-color: #181818;
            border-radius: 10px;
            overflow: hidden;
            .artist__photo{
                display: flex;
                justify-content: flex-start;
                width: 100%;
                height: 240px;
                background-image: url(https://www.excelsiorcalifornia.com/wp-content/uploads/migration/2011/201101/lfe6b7-lfe6aypanda3.jpg?w=879);
                background-size: cover;
                background-position: center;
                h2 {
                    padding: 19px;
                    margin: 0;
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: bold;
                    height: 20px;
                }
            }
            .artist__descript {
                padding: 20px;
                height: 130px;
                h3 {
                    margin: 10px 0;
                    font-size: 16px;
                    color: #ffffff;
                }
                .artist__ear{
                    font-size: 16px;
                    color: #b3b3b3;
                    margin-bottom: 0;
                }
                .artist__text {
                    font-size: 13px;
                    line-height: 17px;
                    color: #b3b3b3;
                    margin-top: 0;
                    padding: 0;
                    text-align: justify;
                    word-spacing: -2px;
                    position: relative;
                    bottom: 13px;
                    height: 50px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    line-clamp:auto;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                }
                button {
                    position: relative;
                    left: 220px;
                    bottom: 25px;
                    display: inline-block;
                    padding: 7px 14px;
                    color: #ffffff;
                    border-radius: 20px;
                    cursor: pointer;
                    font-size: 14px;
                    margin: 0;
                    height: 30px;
                    background-color: transparent;
                    border: 1px solid #464646;
                    font-weight: bold;
                    
                }
                
            }
            
        }
        .credits{
            width: 375px;
            margin: 20px auto;
            background-color: #181818;
            border-radius: 10px;
            overflow: hidden;
            .credits__title{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                h3{
                    color: $whiteLight;
                    padding-left: 25px;
                    font-size: 1.1rem;
                }
                a{
                    color: $whiteLight;
                    text-decoration: none;
                    padding-right: 25px;
                    font-size: 1rem;
                }
            }
            .credits__band{
                display: flex;
                flex-direction: row;
                color: $whiteLight;
                justify-content: space-around;
                align-items: center;
                gap: 50px;
                h3{
                    margin-bottom: 5px;
                }
                p{
                    margin-top: 5px;
                }
                button {
                    position: relative;
                    display: inline-block;
                    padding: 7px 14px;
                    color: #ffffff;
                    border-radius: 20px;
                    cursor: pointer;
                    font-size: 14px;
                    margin: 0;
                    height: 30px;
                    background-color: transparent;
                    border: 1px solid #464646;
                    font-weight: bold;
                }
                .button:hover {
                    scale: 1.2;
                }
            }
        }
        .articlesPromotion{
            @include promotion;
            width: 335px;
            height: auto;
            margin: 20px auto;
            background-color: #181818;
            border-radius: 10px;
            overflow: hidden;
            padding: 20px;
            h5{
                margin: 0px;
                font-size: 1.1rem;
                color: $whiteLight;
            }
            div{
            overflow: hidden;
            .promotion__text{
                width: 230px;
                text-overflow: ellipsis;
                font-weight: normal;
            }
            }
        }

        .next{
            @include promotion;
            width: 335px;
            height: auto;
            margin: 20px auto;
            background-color: #181818;
            border-radius: 10px;
            overflow: hidden;
            padding: 20px;
            .next__title{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                gap: 10px;
                text-wrap: nowrap;
                color: $whiteLight;
                gap: 20px;
                h3{
                    font-size: 15px;
                }
                a{
                    color: $whiteLight;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
            .next__song{
                width: 340px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 10px;
                img{
                    width: 55px;
                    height: 55px;
                    border-radius: 5px3px;
                }
                div{
                    gap: 15px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 5px;
                    h4{
                        margin: 0;
                        color: $whiteLight;
                    }
                    p{
                        margin: 0;
                    }
                }
                .next__link{
                    display: flex;
                    display: flex;
                    width: 70px;
                    justify-content: flex-end;
                    align-items: flex-start;
                    img{
                        width: 25px;
                        
                    }
                }
                
            }
        }
        }
    }

    .footer{
        border-radius: 0 0 20px 20px;
        .about{
            .about__portade{
                .about__title{
                    color: $whiteLight;
                    font-size: 20px;
                }
                .about__img{
                    height: 520px;
                    background-image: url(https://www.excelsiorcalifornia.com/wp-content/uploads/migration/2011/201101/lfe6b7-lfe6aypanda3.jpg?w=879);
                    background-size: cover; 
                    background-position: center 4%; 
                    background-repeat: no-repeat; 
                    margin: 10px  5px 0 5px;
                    border-radius: $radius $radius 0 0;
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    gap: 10px;   
                    opacity: .8;
                    border-radius: $radius;
                    h4,p{
                        color: $whiteLight;
                        margin: 0;
                    }
                    p{
                        color: $whiteLight;
                        text-align: justify;
                        width: 655px;
                        max-height: 70px;
                        line-height: 25px;
                        display: -webkit-box;
                        -webkit-line-clamp: 3; /* Limita a 3 líneas (ajústalo según tus necesidades) */
                        line-clamp: 3;
                        -webkit-box-orient: vertical; /* Orientación vertical */
                        overflow: hidden; /* Oculta el desbordamiento */
                    }
                    &:hover{
                        color: $whiteLight;
                        scale: 1.02;
                        transition: .5s;
                        opacity: .9;
                    }
                }
            }
            .articlesPromotion{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .articlesPromotion__title{
                    font-size: 1.5em;
                    margin: 5px 5px 0px 5px;
                    color: $whiteLight;
                }
                .articlesPromotion__content{
                    @include promotion;
                    }
                }
            }
    //experimentación con Blackbox//
            .aboutLinks{
                
                h2{
                    color: $whiteLight;
                    font-size: 1rem;
                }
                ul{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    list-style-type: none;
                    padding: 0;
                    justify-content: flex-start;
                }

            a {
                color: $white;
                text-decoration: none;
                text-wrap: wrap;
                i{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                img{
                    width: 20px;
                }
            }

            a:hover {
                text-decoration: underline;
                color: $whiteLight;
            }

            .social__media {
                margin-top: 20px;
                display: flex;
                gap: 10px;
            }

            .social__media a {
                display: flex;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: rgb(51, 51, 51);
                color: black;
                text-align: center;
                line-height: 30px;
            /* transition: background-color 0.3s;*/
                justify-content: center;
                align-items: center;
                padding: 3px;
            }

            .social__media a:hover {
                background-color: #686868;
            }
            }
            .lastLinks{
                .footer__links{
                    @include footerLastLinks;
                }
                .copyright {
                    margin-left: 160px;
                }
            }

        }

}

.controls{
    .actualSong{
        .actualSong__song{
            width: 340px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
            img{
                width: 55px;
                height: 55px;
                border-radius: 5px;
            }
            div{
                gap: 15px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 5px;
                h4{
                    margin: 0;
                    color: $whiteLight;
                }
                p{
                    margin: 0;
                }
            }
            .actualSong__add{
                display: flex;
                width: 30px;
                height: 30px;
                justify-content: center;
                align-items: center;
                background-color: $greenStrong;
                align-self: center;
                border-radius: 50%;
                scale: .8;
                img{
                    width: 25px;
                    
                }
            }
        }        
    }
    .reproduction{
        .reproduction__buttons{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 20px;
            i:active{
                img{
                    transition: 0.15s;
                    scale: 0.90;
                    opacity: .7;
                }
            }
            img{
                width: 25px;
            }
            .button__i{
                opacity: 1 !important;
                &:active{
                    transition: 0.15s;
                    scale: 0.90;
                    opacity: .7;
                }
                .button__play{
                width: 45px;
                &:hover{
                    scale: 1.05;
                    transition: all 0.20s;
                }
            }
            }
            
        }
        .reproduction__bar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;
            span{
                color: $white;
            }
            .reproduction__range{
                width: 65%;
               @include inputRange;

            }

        }

    }
    .settings{
        i{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 10px;        
            img{
                width: 25px;
                height: 25px;
            }
            .setting__range{
                width: 65%;
                @include inputRange;
            }
        }


       .setting__devices{
       padding: 0;
       width: 30px;
        svg{
            width: 25px;
            height: 25px;
            margin: 0;
            padding: 0;
           }
       }
    }
}



